html {
    height: 100%;
}

body {
    background-color: darkgrey;
    height: 100%;
}

.nav-color {
    background-color: cornflowerblue;
}

.container {
    background-color: white;
    height: 100%;
}
